body {
  background-color: #eaeaea;
  margin-top: 70px;
}

h1, h2, h3, h4 { color: orange;}


/* Classes */

.panel-default { background: #3a3a3a; color: #fff; }

.logo { padding: 5px 20px 0px 10px; }

.panel-search { padding: 0px 20px 0px 0px; }

.btn-success { background-color: orange; }

.contact-us { color: #fff; text-align: right; margin-top: 15px; }

.thumbnail{  
    float:left;  
    position:relative;
} 

.panel { background-color: #cccccc; }

.panel-carousel { background-color: #ffffff; margin-bottom: 40px; }

.post-content {  
    position: absolute; 
    bottom: 0px;  
    left: 0px;  
    width: 100%;  
    opacity: 0.6; /* transparency */  
    filter: alpha(opacity=60); /* IE transparency */
    background-color: white;  
    color: black;
}

.post-content {  
    padding: 10px;  
    margin: 0px;  
}  

.socialMediaOne, .socialMediaTwo, .socialMediaThree, .socialMediaFour{
    background: url(../img/sprites.png) no-repeat;
    margin-right: 30px; 
    margin-top: 30px;
}

.socialMediaOne{
    background-position: 0 -1px ;
    width: 69px;
    height: 66px;
}

.socialMediaTwo{
    background-position: -83px -1px ;
    width: 69px;
    height: 67px;
}

.socialMediaThree{
    background-position: -244px 0;
    width: 68px;
    height: 69px;
}

.socialMediaFour{
    background-position: -163px 0;
    width: 68px;
    height: 68px;
}



