.navbar-nav { background-color: #e57222; }

.nav li { padding: 0px 20px 0px 20px; font-family: FoobarPro-Regular; }

.navbar-default .navbar-nav > li > a { color: #ffffff; font-size: 1.8rem; text-transform: uppercase; }

.navbar-default .navbar-nav .active, .navbar-default .navbar-nav .active a { background-color: #ffffff; color: #e57222; }

.navbar-default .navbar-nav .active, .navbar-default .navbar-nav .active a { background-color: #ffffff; color: #e57222; }

.navbar-default { background-color: #e7e7e7; }

.navbar-default .navbar-nav > li:hover { background-color: #dd5d02; color: #ffffff; }

.navbar-default .navbar-nav > li:hover a:hover { background-color: #dd5d02; color: #ffffff; }

@media (min-width: 992px) {
	.navbar-default .navbar-nav > li { border-right-width: 1px; border-right-color: #d0671f; border-right-style: solid; }
}

@media (min-width: 768px)
{
	.navbar-default .navbar-nav > li { border-right-width: 1px; border-right-color: #d0671f; border-right-style: solid; }
}