
.promo-image, .panel-quote, .post-content, .panel-blog { border-bottom-width: 4px; border-bottom-color: #e57222; border-bottom-style: solid; }

.promo-image-button { position: absolute; bottom: 0px; right: 0px; background-color: #e57222; padding: 16px 25px 16px 25px; }

.promo-image-button > a { font-weight: bold; color: #ffffff; font-size: 20px; }

.promo-image-button > a:hover { font-weight: bold; color: #ffffff; font-size: 20px; text-decoration: none; }

.panel-blog .panel-footer { background-color: #ffffff; }

.panel-blog .panel-footer p { font-size: 1.8rem; text-transform: uppercase; }